<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= __('databaseTitle') %></title>
</head>
<body>

<div class="container">
  <div id="language-switch">
      <a href="?lang=pl"><img src="/images/pl.png" alt="Zmień język na polski"></a>
      <a href="?lang=en"><img src="/images/en.png" alt="Change language to English"></a>
  </div>

    <div id="sort-search-options">
        <form id="search-form">
            <label for="sort-column"><%= __('sortByColumnLabel') %>:</label>
            <select id="sort-column" name="sortColumn">
                <option value="ID"><%= __('idColumnLabel') %></option>
                <option value="Name"><%= __('firstNameColumnLabel') %></option>
                <option value="Last_Name"><%= __('lastNameColumnLabel') %></option>
                <option value="Phone_number"><%= __('phoneNumberColumnLabel') %></option>
                <option value="Address"><%= __('addressColumnLabel') %></option>
                <option value="Login"><%= __('emailColumnLabel') %></option>
            </select>

            <label for="sort-order"><%= __('sortOrderLabel') %>:</label>
            <select id="sort-order" name="sortOrder">
                <option value="asc"><%= __('ascendingLabel') %></option>
                <option value="desc"><%= __('descendingLabel') %></option>
            </select>

            <label for="search-input"><%= __('searchLabel') %>:</label>
            <input type="text" id="search-input" name="searchInput" placeholder="<%= __('searchPlaceholder') %>">

            <button type="submit"><%= __('searchButtonLabel') %></button>
        </form>
    </div>

    <h2><%= __('databaseTitle') %></h2>

    <div id="database-content">
        <table>
            <thead>
            <tr>
                <th><%= __('idColumnLabel') %></th>
                <th><%= __('firstNameColumnLabel') %></th>
                <th><%= __('lastNameColumnLabel') %></th>
                <th><%= __('phoneNumberColumnLabel') %></th>
                <th><%= __('addressColumnLabel') %></th>
                <th><%= __('emailColumnLabel') %></th>
                <th><%= __('actionsColumnLabel') %></th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= users[i].ID %></td>
                    <td><%= users[i].Name %></td>
                    <td><%= users[i].Last_Name %></td>
                    <td><%= users[i].Phone_number %></td>
                    <td><%= users[i].Address %></td>
                    <td><%= users[i].Login %></td>
                    <td>
                        <a href="/detailsUser/<%= users[i].ID %>">
                            <button><%= __('detailsButtonLabel') %></button>
                        </a>
                        <a href="/editUser/<%= users[i].ID %>">
                            <button><%= __('editButtonLabel') %></button>
                        </a>
                        <form method="POST" action="<%= deleteEndpoint + users[i].ID %>?_method=DELETE">
                            <button type="submit"><%= __('deleteButtonLabel') %></button>
                        </form>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('search-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const searchParams = new URLSearchParams(formData);
        const searchUrl = `/database?${searchParams.toString()}`;
        window.location.href = searchUrl;
    });
</script>

</body>
</html>
