<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= __('userInfoTitle') %></title>
</head>
<body>

<div class="container">
  <div id="language-switch">
      <a href="?lang=pl"><img src="/images/pl.png" alt="Zmień język na polski"></a>
      <a href="?lang=en"><img src="/images/en.png" alt="Change language to English"></a>
  </div>

    <h2><%= __('userInfoTitle') %></h2>

    <div id="user-info">
        <h3><%= __('userDetailsHeader') %></h3>
        <p><strong>ID:</strong> <%= user.ID %></p>
        <p><strong><%= __('firstNameLabel') %>:</strong> <%= user.Name %></p>
        <p><strong><%= __('lastNameLabel') %>:</strong> <%= user.Last_Name %></p>
        <p><strong><%= __('phoneNumberLabel') %>:</strong> <%= user.Phone_number %></p>
        <p><strong><%= __('streetLabel') %>:</strong> <%= user.Address %></p>
        <p><strong><%= __('emailLabel') %>:</strong> <%= user.Login %></p>
    </div>

    <div id="user-orders">
        <% if (userOrders.length > 0) { %>
            <table>
                <thead>
                <tr>
                    <th><%= __('orderIdLabel') %></th>
                    <th><%= __('dateLabel') %></th>
                    <th><%= __('priceLabel') %></th>
                    <th><%= __('quantityLabel') %> <%= __('pizzaLabel') %></th>
                    <th><%= __('pizzaLabel') %></th>
                    <th><%= __('restaurantLabel') %></th>
                    <th><%= __('actionsLabel') %></th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < userOrders.length; i++) { %>
                    <tr>
                        <td><%= userOrders[i].ID %></td>
                        <td><%= userOrders[i].Date %></td>
                        <td><%= userOrders[i].Price %></td>
                        <td><%= userOrders[i].quantity %></td>
                        <td><%= userOrders[i].Pizza_ID %></td>
                        <td><%= userOrders[i].Pizza_ID %></td>
                        <td>
                            <a href="/editOrder/<%= userOrders[i].ID %>"><%= __('editLabel') %></a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } else { %>
            <p><%= __('noOrdersMessage') %></p>
        <% } %>
    </div>

</div>

</body>
</html>
