<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= __('orderSummaryTitle') %></title>
</head>
<body>

<div class="container">
  <div id="language-switch">
      <a href="?lang=pl"><img src="/images/pl.png" alt="Zmień język na polski"></a>
      <a href="?lang=en"><img src="/images/en.png" alt="Change language to English"></a>
  </div>
    <div>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div id="order-summary">
        <h2><%= __('orderSummaryTitle') %></h2>

        <div id="user-info">
            <img src="/images/<%= restaurant.Image %>" alt="Local Image" style="width: 200px; height: auto; margin-right: 20px; border-radius: 10px;">
            <div id="local-details">
                <h3><%= restaurant.Name %></h3>
                <p><strong><%= __('ratingLabel') %>:</strong> <%= restaurant.Rate %></p>
                <p><strong><%= __('addressLabel') %>:</strong> <%= restaurant.Adres %></p>
                <p><strong><%= __('deliveryCostLabel') %>:</strong> <%= restaurant.Delivery %> zł</p>
            </div>
        </div>

        <div id="restaurants-list">
            <h3><%= __('orderDetailsTitle') %></h3>
            <p><strong><%= __('pizzaTypeLabel') %>:</strong> <%= order.pizza.Name %></p>
            <p><strong><%= __('pizzaPriceLabel') %>:</strong> <%= order.pizza.Price %> zł</p>
            <p><strong><%= __('quantityLabel') %>:</strong> <%= order.quantity %></p>
            <p><strong><%= __('fullNameLabel') %>:</strong> <%= order.name %></p>
            <p><strong><%= __('addressLabel') %>:</strong> <%= order.deliveryAddress %></p>
            <p id="total-cost"><strong><%= __('totalCostLabel') %>: <%= order.pizza.Price * order.quantity + restaurant.Delivery %> zł</strong></p>
        </div>
    </div>
</div>

</body>
</html>
